

body{

}


main {
	width: 98%;
	padding-left: 5%;
	padding-right: 5%;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: black;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-family: 'Oswald', sans-serif;
	color: black;
	text-align: left;
	text-indent: 20px;
	font-size: 15px;
	font-weight: lighter;
}

p {
	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 20px;
}

.imagen h3 {
	position: fixed;
	z-index: 10;
}

img {
	max-width: 100%;
	padding-bottom: 0;
}

.noticion {
	padding-bottom: 2%;
}

.noticion img{
	display: block;
    margin: auto;
    max-width: 800px;
}

.noticia {
	padding-bottom: 2%;
}

.noticia img{
	display: block;
    margin: auto;
    max-height: 300px;
}



